<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JLDoubleSliderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80B873CA1C464CE1009D5A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80B873E31C464CE1009D5A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80B873EE1C464CE1009D5A55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
